---
import "./about-home.css";
import Button from "@atoms/Button/Button.astro";
import CardTerminal from "@layouts/CardTerminal.astro";
import CardAbout from "@molecules/CardAbout/CardAbout.astro";
import TitleSpan from "@atoms/TitleSpan/TitleSpan.astro";
---

<section class="about" id="about">
	<TitleSpan  text1="Who is" span="DEV" text2="?" />
	<div class="about__container">
		<CardAbout />
		<div class="terminal__container">
			<CardTerminal animation="fade-left">
				<h3 class="terminal__content terminal__content--h3">≥ Porjetos futuros!</h3>
				<p class="terminal__content terminal__content--p">≥ Projetos como IA dentro do SAAS!</p>

				<h3 class="terminal__content terminal__content--h3">
					≥ Estou <span class="terminal__content terminal__content--span span__dark">recrutando pessoas para criar projetos maiores!</span>
				</h3>
				<p class="terminal__content terminal__content--p">
					≥ Automatizar <span class="terminal__content--span span__dark">Inteligência Artificial em objetos! 💙</span><span class="terminal__content--span span__dark">
				</p>
				<div class="about__contactar">
					<Button
  href="https://wa.me/5593999034526?text=Salve%20irmão,%20quero%20entrar%20na%20equipe%20para%20desenvolver%20projetos!"
  text="Falar no WhatsApp"
  target="_blank"
/>

				</div>
			</CardTerminal>
		</div>

	</div>
</section>
