---
import "@organisms/AboutHome/about-home.css";
import ContactSocialIcons from "../../ContactSocialIcons.astro";
---

<div class="card__about" data-aos="fade-right" >
  <div class="card-photo">
    <img class="about__img--src" src="./img/aydevvv.png" alt="" />
  </div>
  <div class="card-title">
    <p></p>
    <span>frontend Developer</span>
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
