---
import CardSkill from "@molecules/skills/CardSkills";
import CardTerminal from "@layouts/CardTerminal.astro";
import Button from "@atoms/Button/Button.astro";
---

<section class="skills" id="skills">
  <h2 data-aos="fade-up" class="titulo titulo__dark">Skills</h2>
  <div class="skills__container max__width">
    <CardTerminal animation="fade-right">
      <p class="terminal__content terminal__content--p">
        ≥ Projeto Free,
        <span class="terminal__content terminal__content--span"
          >aqui você vai desenvolver seu primeiro projeto!</span
        >
      </p>
      <p class="terminal__content terminal__content--color">
        ≥ SAAS! Finance AI, Clínicas, Cardápio digital, Gestão de treinos, Ecommerce, Barbearia, projeto completo, com dashboard, painel administrativo!
      </p>
      <Button
  href="https://wa.me/5593999034526?text=Olá%20Dev,%20vim%20do%20site%20e%20quero%20saber%20mais%20sobre."
  text="Chamar no WhatsApp"
  target="_blank"
/>
    </CardTerminal>
	  <div class="skills__cards-container">
	<CardSkill />
	</div>
  </div>
</section>
